/* .App{
  text-align: center;
}
.App-logo{
  height:40vmin;
  pointer-events:none; 
}
@media(prefers-reduced-motion:no-prefences){
  .App-logo{
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header{
  background-color:#282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size:calc(10px+2vmin);
  color: white;
}
.App-link{
  color:#61dafb;
} */

.card{
  width:30%;
  display: flex;
  flex-direction: column;
  border:1px solid red;
  align-content: center; 
  margin: 0 auto;
}
.card-header{
  height:30%;
  background:#5d6770;
  color:white;
  text-align:center;
}
.card-header p{
  font-size:20px;
}
.container{
  padding:4px 16px;
  text-align:center;
}
button{
  text-align:center;
}